<% # OVERRIDE hyrax 2.9.1- removes the inline styling for the collections, but keeps the thumbnails %>
<% # OVERRIDE Summer's note: overriding Hyrax 2.9 for client theming -- removed all hyrax theming %>

<% featured_collection = f.object.presenter %>

<div class="col-xs-12 col-sm-6 col-md-4 collection-card-container">
  <div class="collection-card">
    <%= link_to [hyrax, featured_collection] do %>
      <div class="collection-thumbnail center-block">
        <%= render_thumbnail_tag(featured_collection, { class: "center-block", alt: "#{featured_collection.title.first} #{ t('hyrax.homepage.admin_sets.thumbnail')}" }, {suppress_link: true}) %>
      </div>
      <div class= "collection-label">
        <%= link_to [hyrax, featured_collection] do %>
          <%= featured_collection.title.first %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
