<% # OVERRIDE Summer's note: overriding Hyrax 2.9 for client theming -- removed all hyrax theming %>

<% presenter = featured.presenter %>
<div class= "col-xs-12 col-sm-4">
  <%= render 'hyrax/homepage/featured_fields', featured: presenter %>
</div>
