<%# OVERRIDE to change the layout as per the British Libraries  wireframe %>
<div class="container-fluid pt-40 pb-40 px-home-content section-contrast">
  <div class="row">
    <h2>Featured Items</h2>
  </div>
  <div class="row pt-40 pb-40 center-block">
    <%= render 'hyrax/homepage/featured_works' %>
  </div>
    <%= link_to main_app.search_catalog_path, class: 'btn btn-primary pull-right' do %>
      <%= t('hyrax.homepage.items_button') %>
      <span class="fa fa-caret-right"></span> 
    <% end %>
</div>
