<% # April's note: overriding Hyrax 2.9 template to remove the offset column classes, and moved the Share Your Work Button aka Submit Button to the marketing text content block on the homepage %>
  <div class="marketing-text">
    <%= displayable_content_block @marketing_text %>
  </div>
