<%# OVERRIDE title section to be called marketing_text_section & include the content block for the Banner text. %>
<% if display_content_block? @marketing_text %>
  <div class="container-fluid pt-20 pb-40 px-home-content section-contrast">
    <div class="row">
      <div class="col-xs-12 text-center">
      <%= render 'marketing'%>
      </div>
    </div>
  </div>
<%end%>