*.rdb
./artifacts
./chart
./coverage
./docker
./fcrepo
./importer
./log
./pg
./pubilc/uploads
./public/assets
./public/packs
./public/system
./tmp
.coveralls.yml
.ebextensions
.fcrepo_wrapper
.git
.github
.gitignore
.hound.yml
.idea
.internal_test_app/*
.solr_wrapper
solr/solr/*
fcrpo/*
pg/*
Dockerfile*
fits.log
