*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/db/postgres
pg_upgrade_*.log
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc
.ruby-*

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

/fcrepo4-development-data
/fcrepo4-test-data
/fcrepo4-data

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# Avatars and such
public/uploads
.env.*

.idea
public/assets/
*.dec
*.pyc
.python-version
kiq.log
/config/local_env.yml
fits.log
supervisord.log
supervisord.pid
.dockerignore
Dockerfile-local
docker/docker-compose-2.dev.yml
docker/local-docker-compose-2.yml

# mac add on
.DS_Store
# Ignore local VS Code history
/.history
.vscode/settings.json
data/**
fcrepo-import-export-*
