<!--overrides Hyrax/app/views/hyrax/dashboard/collections/_show_descriptions.html.erb -->
<!--so we can customise resource_type to display the term, not the id -->

<!-- rendered in
hyrax/collection/_show_descriptions.html.erb
hyrax/dashboard/collection/_show_descriptions.html.erb
-->

<dl class="dl-horizontal metadata-collections">
  <% present_terms(presenter, presenter.terms_with_values) do |r, term| %>
    <% if term == :total_items %>
      <div>
        <dt><%= r.label(term) %></dt>
        <dd id='total_count_div'><%= r.value(term) %></dd>
      </div>
    <% end %>
  <% end %>
</dl>
