<% institution_service = InstitutionService.new %>
<% my_model_name = f.object.model.class.to_s.underscore %>

<%= hidden_field_tag 'institution_selected_value', fetch_institution_by_tenant%>

<div class="<%= my_model_name %>_institution form-group">
  <%= f.input :institution,
              collection: institution_service.select_active_options,
              selected: fetch_institution_by_tenant,
              input_html: { class: 'form-control ubiquity-institution' }
  %>
</div>
