<% license_service = Hyrax::LicenseService.new %>
<% my_model_name = f.object.model.class.to_s.underscore %>
<div class="<%= my_model_name %>_license form-group">
  <%= f.input :license, as: :multi_value_select,
              collection: license_service.select_active_options,
              include_blank: true,
              hint: 'Licensing and distribution information governing access to the file. Select from the provided drop-down list.',
              item_helper: license_service.method(:include_current_value),
              input_html: { class: 'form-control ubiquity-license' } %>
</div>
