<% my_model_name = f.object.model.class.to_s.underscore %>
<div class="<%= my_model_name %>_pagination form-group">
  <%= f.input :pagination,  input_html: { class: 'ubiquity-pagination' }, required: f.object.required?(key) %>
</div>
