<!-- overrides hyrax/app/views/records/edit_fields/_resource_type.html.erb -->

<% model_name = f.object.model_class %>
<% template = model_name.to_s.underscore %>
<% r_t = f.object.model.resource_type.first %>
<% set_default = r_t || Hyrax::ResourceTypesService.select_default(model_name) %>
<% my_model_name = f.object.model.class.to_s.underscore %>
<div class="<%= my_model_name %>_resource_type form-group">
  <label class="control-label" for="<% template %>_resource_type">
    <% if template == 'collection' %>
      Resource Type
    <% else %>  
      Resource Type <span class="label label-info required-tag">required</span>
    <% end %>
  </label>
  <p class="help-block">
    <%= raw(t('simple_form.hints.collection.resource_type')) %>
  </p>
  <% if template == 'generic_work' %>
    <%= select_tag "#{template}[resource_type][]", content_tag(:option,'Please Select ...',:value=>"")+
          options_from_collection_for_select( Hyrax::ResourceTypesService.select_template_options(model_name),
                                              :last,
                                              :first,
                                              set_default), class: 'form-control resource-type' %>
  <% else %>
    <%= select_tag "#{template}[resource_type][]", content_tag(:option,'',:value=>"")+
        options_from_collection_for_select( Hyrax::ResourceTypesService.select_template_options(model_name),
                                            :last,
                                            :first,
                                            set_default),
        class: 'form-control resource-type' %>
  <% end %>
</div>
