<!-- overrides hyrax/app/views/records/edit_fields/_resource_type.html.erb -->

<% model_name = f.object.model_class %>
<% template = model_name.to_s.underscore %>
<% r_t = f.object.model.resource_type.first %>
<% set_default = r_t || Hyrax::ResourceTypesService.select_default(model_name) %>
<label class="control-label" for="<% template %>_resource_type">Resource Type
  <span class="label label-info required-tag">required</span>
</label>
<p class="help-block">Select the specific resource type that best describes the work.</p>
<%if template == 'generic_work' %>
  <%= select_tag "#{template}[resource_type][]", content_tag(:option,'Please Select ...',:value=>"")+
        options_from_collection_for_select( Hyrax::ResourceTypesService.select_template_options(model_name),
                                            :last,
                                            :first,
                                            set_default), class: 'form-control resource-type', required: true%>
<%else%>
  <%= select_tag "#{template}[resource_type][]",
      options_from_collection_for_select( Hyrax::ResourceTypesService.select_template_options(model_name),
                                          :last,
                                          :first,
                                          set_default),
      class: 'form-control resource-type', required: true%>
<%end%>
<br><br />
