<h3 class="ubiquity-title-success-message" style="color:blue;font-weight: 900;">  </h3>

<h3 class="ubiquity-title-fail-message" style="color:red;font-weight: 900;"> </h3>

<% my_model_name = f.object.model.class.to_s.underscore %>
<div class="<%= my_model_name %>_title form-group">
  <label class="control-label" for="<%= my_model_name %>_title">Title
    <span class="label label-info required-tag">required</span>
  </label>
  <%= text_field_tag "#{my_model_name}[title][]", f.object.model.title.first, id: "#{my_model_name}_title",
    class: "form-control text required form-control ubiquity-title" , placeholder: "Add a title", required: "required" %>
</div>
<br><br>

<%# TODO Rob %>
<%# = button_to 'Check title availability', main_app.check_available_ubiquity_titles_path,
   class: "ubiquity-title-checker", data: { 'ubiquity-model' => f.object.model.class.to_s } %>
