<dt>Alternate identifier</dt>
<dd>
  <% array_of_hash.each do |hash| %>
    <ul class="tabular">
      <li class="attribute alternate_identifier">
        <% if hash['alternate_identifier'] %>
          <b>identifier: </b><%="#{hash['alternate_identifier']}" %>&nbsp;
        <% end %>
      </li>
      <li class="attribute alternate_identifier_type">
        <% if hash['alternate_identifier_type'] %>
          <b>type: </b><%="#{hash['alternate_identifier_type']}" %>
        <% end %>
      </li>
    </ul>
  <% end %>
</dd>
