<%# OVERRIDE Hyrax 2.9.1 for BL Shared Site Homepage Theme%>
<nav id="masthead" class="navbar navbar-inverse navbar-static-top default-color" role="navigation">
  <div class="container-fluid top-nav-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <% if controller_name !="homepage" && body_class.match(/public-facing/) %>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- OVERRIDE to remove the logo in the top header bar -->
      </div>
    <% end %>

      <div class="collapse navbar-collapse" id="top-navbar-collapse">
        <div class= "hidden-md hidden-lg">
          <%= render '/controls' if controller_name !="homepage" %>
        </div>
        <%= render '/user_util_links' if !admin_host? && controller_name !="homepage"%>
        <%= render '/admin_util_links' if admin_host? %>
      </div>
  </div>
</nav>
