<!-- rendered from views/hyrax/base///_attribute_rows.html.erb -->

<% metadata_array = presenter.resource_type%>
<% if metadata_array.present? %>
<% metadata = metadata_array.first.split(' ').first%>
<dt>Resource Type</dt>
<dd>
    <ul class="tabular">
      <li class="attribute resource_type">
          <%= "#{metadata}" %>&nbsp;
      </li>
      <br>
  </ul>
</dd>
<% end %>