<dt>Funder</dt>
<dd>
  <ul class="tabular">
    <% array_of_hash.each_with_index do |hash, index| %>
      <div class="funder <%= 'collapse' if index > 4 %>">
        <li class="attribute funder name">
          <% if hash['funder_name'].present? %>
            <b>Name:</b> <%= "#{hash['funder_name']}" %>&nbsp;
          <% end %>
        </li>
        <li>
          <% awards_array = hash&.[]('funder_award')&.reject {|a| a.blank? } %>
          <% if awards_array.present? %>
            <b>Awards:</b><% awards_array.each do |award| %>
              <span itemprop="funder" >
                <%= award %>
              </span>
            <% end %>
          <% end %>
        </li>
      </div>
    <% end %>
    <% if array_of_hash.length > 5 %>
      <li>
        <button id="funder-collapse"  class="collapse-fields" data-toggle="collapse" data-target=".funder.collapse" aria-expanded="false" aria-controls="collapse">
          <span>Show more</span>
          <span style='display:none'>Close list</span>
        </button>
      </li>
    <% end %>
  </ul>
</dd>
