
<!-- used in app/views/shared/ubiquity/_thumbnail.html.erb -->
<% presenter = Hyku::ManifestEnabledWorkShowPresenter.new(document, current_ability) %>

<% file_set_presenter = presenter.thumbnail_presenter %>
<% ubiquity_thumbnail_format = check_file_extension(file_set_presenter.solr_document.label) %>

<% if zipped_types.include?  ubiquity_thumbnail_format %>
  <span class="fa fa-file-archive-o fa-5x grey-zip-icon hidden-xs file_listing_thumbnail" ></span>
<% elsif (ubiquity_thumbnail_format == ".pdf") && (document.thumbnail_path.split('?').last == "file=thumbnail") %>
  <span class="fa fa-file-pdf-o fa-5x hidden-xs file_listing_thumbnail" style="color:grey"></span>
<% elsif ([".docx", '.doc'].include? check_file_extension(file_set_presenter.solr_document.label)) && (document.thumbnail_path.split('?').last == "file=thumbnail")  %>
  <span class="fa fa-file-word-o fa-5x hidden-xs file_listing_thumbnail" style="color:grey"></span>
<% elsif (document.thumbnail_path.split('?').last == "file=thumbnail") && ([".docx", '.doc', '.pdf'].exclude? check_file_extension(file_set_presenter.solr_document.label)) && (zipped_types.exclude? check_file_extension(file_set_presenter.solr_document.label) )   %>
  <span class="fa fa-file-o fa-5x hidden-xs file_listing_thumbnail" style="color:grey"></span>
<% else %>
  <%=  render_thumbnail_on_list(file_set_presenter) %>
 <% end %>
