<div class="search-results-title-row">
  <h4 class="search-result-title"><%= search_link(document, request)  %></h4>
  <%= Hyrax::CollectionPresenter.new(document, current_ability).collection_type_badge %>
</div>
