<%# OVERRIDE from Blacklight 6.7 to change the layout of partials %>

<div id="sortAndPerPage" class="sort-pagination row" role="navigation" aria-label="<%= t('blacklight.search.per_page.aria_label')%>">
  <div class="col-sm-6 search-text">
  <span>Displaying <%= render partial: "paginate_compact", object: @response if show_pagination? %> total results from the <%= application_name %> Research Repository.</span>
  </div>
  <div class="col-sm-6">
  <%= render_results_collection_tools wrapping_class: "search-widgets" %>
  </div>
</div>