<%# OVERRIDE from hyrax 2.9.5 to change the layout of partials %>
<div id='search-header' class='col-md-12'>
    <%= render 'search_header' %>
</div>
<div id="content" class="col-md-8 col-md-push-4 col-sm-7 col-sm-push-5">
    <%= render 'search_results' %>
</div>

<div id="sidebar" class="col-md-4 col-md-pull-8 col-sm-5 col-sm-pull-7">
  <%= render 'search_sidebar' %>
</div>
