@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//TEXT STYLES

body.public-facing {
  font-family: "Noto Sans" !important;
  color: $darkgrey !important;
  overflow-x: hidden;
  // margin-bottom: 60px;

  h1, h2, h3, h4, h5 {
    font-family: "Noto Sans" !important;
    color: $darkgrey !important;
  }

  h1{
    font-size: 34px;
    font-weight: 500;
  }

  h2{
    font-size: 28px;
    font-weight: 500;
  }

  h3{
    font-size: 24px;
  }

  h4{
    font-family: "Noto Sans JP" !important;
    font-size: 22px;
    font-weight: 300;
  }

  h5{
    font-size: 16px;
  }

  h6{
    font-family: "Noto Sans JP" !important;
    font-size: 13px;
    text-transform: uppercase;
    color: $mediumgrey !important;
    letter-spacing: 1pt;
  }

  p{
    color: $darkgrey !important;
    font-size: 14px;
  }

  .home_marketing_text h1, .home_marketing_text h2{
    color: $darkgrey !important;
  }

  //General Classes
  .section-contrast {
    background-color: $neutral;
  }

  //padding and margin bootstrap classes
  .pt-20 {
    padding-top: 20px;
  }
  .pt-40 {
    padding-top: 40px;
  }
  .pb-40 {
    padding-bottom: 40px;
  }
  .pb-60 {
    padding-bottom: 60px;
  }
  .pt-80 {
    padding-top: 80px;
  }
  .pb-80 {
    padding-bottom: 80px;
  }
  .px-home-content {
    padding-right: 80px;
    padding-left: 80px;
  }
  @media only screen and (max-width: 768px) {
    .px-home-content {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  .px-10{
    padding-left: 10px;
    padding-right: 10px
  }
  .mt-40{
    margin-top: 40px;
  }

  .mb-40{
    margin-bottom: 40px
  }

  .mt-auto{
    margin-top: auto
  }

  .mx-auto{
    margin: 0 auto
  }

  .mx-0{
    margin-right: 0;
    margin-left: 0;
  }

  .flex-center{
    display: flex;
    justify-content: center;
  }
  .flex{
    display: flex;
  }
  .wrap{
    flex-wrap: wrap;
  }


  /* LINK COLORS */
  a {
    color: $darkgrey !important;
    transition: .1s ease-in-out;
  }
  a:hover {
    color: $mediumgrey !important;
    text-decoration: none;
  }
  a:focus{
    outline: none !important;
  }
  #sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
    color: $darkgrey !important;
  }

  ///* MAIN NAV */

  .navbar.navbar-inverse.navbar-static-top {
    background: linear-gradient(to right, $rust, $mustard);
    border: none;
    padding: 10px;
  }

  .navbar.navbar-inverse.navbar-static-top, nav.navbar.navbar-default.navbar-static-top div.container-fluid div.row ul.nav.navbar-nav li a {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase !important;
  }


  nav#masthead {
    margin-bottom: 0px;
  }

  .container-fluid.top-nav-container{
    margin-top: 0;
    .navbar-header {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }

  .shared-research-repo-button{
    color: $white !important;
    font-size: 12px;
    background-color: transparent;
    border: 2px solid #ffffff87;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
    padding: 10px;
    margin: 0px 10px;
    text-transform: none;
    font-weight: 500;
  }
  .shared-research-repo-button:hover{
    color: #ffffffe0 !important;
    text-decoration: none;
  }
  


  //DROPDOWN NAVBAR
  .navbar-inverse.navbar-collapse{
    border: none !important;
  }

  .navbar-inverse .navbar-link {
    color: $white !important;
  }
  .navbar-inverse .navbar-link:hover {
    color: $mediumgrey !important
  }
  .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: $white !important;
  }
  .navbar-inverse .navbar-collapse{
    border-color: transparent;
  }
  .navbar-inverse .navbar-nav > .active > a {
    background-color: $neutral !important;
    color: $mediumgrey !important;
    border-radius: 5px;
  }

  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover {
    color: $lightgrey !important;
  }
  .navbar-inverse .navbar-text{
    color: $darkgrey !important;
  }

  li.nav-item.dropdown:focus, a.nav-link.dropdown-toggle, ul#user_utility_links  {
    outline: transparent !important;
  }

  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent !important; }
  .navbar-inverse .navbar-nav > li > a,
  .navbar-inverse .navbar-text,
  .navbar-inverse .navbar-brand {
    color: $mediumgrey; }
  .navbar-inverse {
    background-color: transparent !important;
    border-color: inherit;
  }

  button.navbar-toggle, button.navbar-toggle.collapsed, button.navbar-toggle:focus, button.navbar-toggle.collapsed:focus {
    padding: 12px 10px;
    margin: -8px auto 0 auto;
    margin-right: 10px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .5);
    border-radius: 5px;
    background-color: transparent !important;
  }

  button.navbar-toggle:hover, button.navbar-toggle.collapsed:hover {
    border-color: rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, .2) !important;
  }


/* HOME PAGE SEARCH BAR NAV */
.image-masthead .navbar {
  background-color: transparent !important;
}
.image-masthead .navbar .active > a, .image-masthead .navbar .active > a:hover, .image-masthead .navbar .active > a:focus {
    background-color: transparent !important;
    color: $mediumgrey !important;
  }
  .image-masthead .navbar .navbar-nav a {
    color: $darkgrey;
    text-transform: none !important;
  }

  .image-masthead .navbar .navbar-nav a:hover, .image-masthead .navbar .navbar-nav a:focus {
    background-color: transparent !important;
    color: $mediumgrey;
  }

  .navbar.navbar-default.navbar-static-top{
    background-color: transparent !important;
    border: none !important;
  }

  button#search-submit-header {
    color: $darkgrey;
    background-color: $white;
    padding: 12px 12px;
    border-top: 2px solid $lightgrey !important;
    border-bottom: 2px solid $lightgrey !important;
    border-right: 2px solid $lightgrey !important;
    border-left: 0px solid transparent !important;
  }
  button#search-submit-header:focus {
    outline: none
  }

  #search-field-header {
    padding: 22px 12px;
    border-top: 2px solid $lightgrey !important;
    border-bottom: 2px solid $lightgrey !important;
    border-left: 2px solid $lightgrey !important;
    border-right: 0px solid transparent !important;
  }
  #search-field-header::placeholder {
    color: $mediumgrey;
    font-size: 18px;
  }

  .form-control:focus {
    border-color: $lightgrey;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .form-control {
    -webkit-box-shadow: none;
    box-shadow: none
  }

  a#logo.navbar-brand{
    float: none;
    padding: 0px;
  }


// MOBILE NAVIGATION STYLES

  @media (max-width: 991px){
    button.navbar-toggle{
      margin-right: 25px;
    }
    nav#masthead.navbar.navbar-inverse.navbar-static-top{
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
    }
    div#top-navbar-collapse {
      background-color: $white;
      border: 0px solid transparent;
      border-radius: 0px;
    }
  
    //changes color for mobile nav links
    a.nav-link.dropdown-toggle, ul#user_utility_links li, .navbar-inverse .navbar-nav > li > a {
      color: $darkgrey !important;
      text-align: center;
    }
  
    //changes hover cover for mobile nav links
    a.nav-link.dropdown-toggle:hover, ul#user_utility_links li:hover, ul.nav.navbar-nav li:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a {
      background-color: $lightgrey;
      color: $darkgrey !important;
      margin-bottom: 0px;
      border-radius: 0px;
    }

    //background color of language picker dropdown for mobile
    .navbar-nav .open .dropdown-menu{
      background-color: $white;
    }

    ul#user_utility_links.navbar-nav.navbar-right, #masthead .navbar-right{
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
    }

    .navbar-collapse {
      padding-right: 0px;
      padding-left: 0px;
  }

  nav.navbar.navbar-default.navbar-static-top{
    margin-bottom: 0px;
  }

  ul.nav.navbar-nav {
    margin: 0px;
}

}

@media only screen and (max-width: 375px) {
  .shared-research-repo-button{
    font-size: 12px;
  }
}


  //BANNER IMAGE OR IMAGE MASTHEAD

  .image-masthead{
    border-bottom: 2px solid $lightgrey !important;
    margin-bottom: 0px;
  }

    // makes the columns in the masthead the same height

  .image-masthead.row{
    display: flex;
    flex-wrap: nowrap;
  }
  .image-masthead.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  .container.site-title-container {
    min-height: 250px;
  }

.image-masthead .background-container {
    background-position: center;
    filter: none !important;
}

.banner-section-wrapper{
  position: relative
}

.controls-section {
  border-top: 2px solid $lightgrey !important;
  background-color: $white;
  float: right;
}

.logo-section{
  padding: 20px;
  text-align: right;
  max-width: 40%;
  float: right;
}

.catalog-logo-section{
  padding: 20px;
  text-align: left
}

div.col-md-6.logo-section, div.col-xs-12.logo-section, div.col-md-6.catalog-logo-section, div.col-xs-12.catalog-logo-section {
  img {
    height: 100px;
  }
}

.col-xs-12.col-md-6.section-contrast {
  border-left: 2px solid $lightgrey;
}

.row.image-masthead{
  margin-right: 0px;
}

.homepage-search {
  position: absolute;
  width: 50%;
  bottom: 40%;
  left: 25%;
}
@media (max-width: 991px){
  .homepage-search {
    width: 55%;
    left: 5%;
  }
  input#search-field-header::placeholder{
    font-size: 15px;
  }
}

@media (max-width: 570px){
  input#search-field-header::placeholder{
    font-size: 11px;
  }
}

.catalog-page-search {
  width: 50%;
}

div.catalog-page-search form#search-form-header{
  padding-top: 40px;
  margin-top: 0;
}

.pages-nav{
  border-bottom: 2px solid $lightgrey !important;
  align-items: center;
}

/* HOME PAGE NAV-PILL TABS */
.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: transparent !important;
  }

  .nav-pills > li.active > a {
    background-color: transparent !important;
    border: 2px solid $neutral;
    color: $darkgrey;
  }

  /* PRIMARY BUTTON STYLES */
  .btn-primary {
    background-color: $neutral;
    border: 2px solid $mediumgrey;
    border-color: $mediumgrey;
    color: $darkgrey;
  }
  .btn-primary:focus,
  .btn-primary.focus {
    background-color: $neutral;
    border: 2px solid $mediumgrey;
    border-color: $mediumgrey;
  }
  .btn-primary:hover {
    background-color: $white;
    border-color: $mediumgrey;
    border: 2px solid $mediumgrey;
  }
  .btn-primary:active,
  .btn-primary.active {
    background-color: $neutral;
    border: 2px solid $mediumgrey;
    border-color: $mediumgrey;
  }
  .btn-primary:active:hover,
  .btn-primary:active:focus,
  .btn-primary:active.focus,
  .btn-primary.active:hover,
  .btn-primary.active:focus,
  .btn-primary.active.focus{
    background-color: $neutral;
    border: 2px solid $mediumgrey;
    border-color: $mediumgrey;
  }
  .btn-primary.disabled:hover,
  .btn-primary.disabled:focus,
  .btn-primary.disabled.focus,
  .btn-primary[disabled]:hover,
  .btn-primary[disabled]:focus,
  .btn-primary[disabled].focus {
    background-color: $lightgrey;
    border-color: $neutral;
  }

  /* DEFAULT BUTTON STYLES */
  .btn-default {
    background-color: $white;
    border: 2px solid $neutral;
    border-color: $neutral;
    color: $darkgrey;;
  }
  .btn-default:focus,
  .btn-default.focus {
    color: $darkgrey !important;
    background-color: $white;
    border: 2px solid $neutral;
    border-color: $neutral;
  }
  .btn-default:hover {
    color: $darkgrey !important;
    background-color: $lightgrey !important;
    border: none !important;
    border-color: none !important;
  }
  .btn-default:active,
  .btn-default.active {
    background-color: $white;
    border: 2px solid $mediumgrey;
    border-color: $mediumgrey;
  }
  .btn-default:active:hover,
  .btn-default:active:focus,
  .btn-default:active.focus,
  .btn-default.active:hover,
  .btn-default.active:focus,
  .btn-default.active.focus{
    background-color: $white;
    border: 2px solid $mediumgrey;
    border-color: $mediumgrey;
  }
  .btn-default.disabled:hover,
  .btn-default.disabled:focus,
  .btn-default.disabled.focus,
  .btn-default[disabled]:hover,
  .btn-default[disabled]:focus,
  .btn-default[disabled].focus {
    background-color: $white;
    border: 2px solid $neutral;
    border-color: $neutral;
  }

  a.btn.btn-danger{
    color: $white !important
  }

  /* FACET PANEL STYLES */
  .panel-default > .panel-heading {
    color: $darkgrey;
    background-color: transparent;
    border-color: transparent;
  }
  .panel-default {
    border-color: transparent;
  }
  .panel-heading.collapse-toggle .panel-title:after{
    color: $mediumgrey;
  }

  .panel {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .panel.facet_limit {
    border: 2px solid $lightgrey;
    margin: 20px 0px;
  }


  // HOMEPAGE CONTENT SECTIONS

  .creator-label{
    color: $rust !important;
    text-transform: capitalize;
  }

  .featured-label, .recent-label{
    font-weight: 600
  }

    //adds padding to images in featured and recent works rows
  .works-row a img {
    padding: 10px;
}

  // MARKETING TEXT SECTION
  .marketing-text p{
    font-family: "Noto Sans JP" !important;
    font-size: 28px !important;
    font-weight: 300 !important;
    padding-top: 25px;
  }

  // FEATURED COLLECTIONS SECTION

  .collections-row{
    justify-content: space-between;
  }

  .collection-card{
    border: 2px solid $lightgrey;
    background-color: $white;
    border-radius: 5px;
    margin-right: 0px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    height: 100%;
  }
  .collection-card-container{
    display: flex;
    flex-direction: column;
  }
  .collection-label{
    border-top: 2px solid $lightgrey;
    padding: 15px !important;
  }

  .collection-thumbnail{
    max-width: 200px;
  }
  .collection-thumbnail img.img-responsive{
    object-fit: cover;
    object-position: center;
    width: 200px;
    height: 200px;
  }

  .works-row{
    flex-wrap: wrap;
  }

  //RECENT WORKS


  //ANNOUNCEMENT BLOCK
  div#announcement {
    font-size: 1.8rem;
    background-color: $white;
    padding-right: 10px;
    padding-left: 10px;
    border: 2px solid #fab433a5;
    border-radius: 0px;
  }
  div#announcement.center-block.text-center div p{
    font-size: 11px !important;
  }


  // FOOTER STYLES

  .navbar.navbar-inverse.site-footer {
    border-top: 2px solid $lightgrey !important;
    background-color: $white !important;
    border: none ;
    padding: inherit ;
    height: auto;
  }
  .footer-link{
    padding: 5px 40px;
  }

  .footer-link a{
    font-weight: 700;
  }

  @media only screen and (max-width: 1100px) {
    .footer-link, div.navbar-text.text-right{
      text-align: center;
    }
  }

  @media only screen and (max-width: 768px) {
    div.navbar-text.text-right{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .dropdown-menu {
    background-color: $white;
    border-radius: 5px;
    border-color: $lightgrey;
  }

  .dropdown-menu > li > a:hover, .twitter-typeahead .tt-menu > li > a:hover, .dropdown-menu > li > a:focus, .twitter-typeahead .tt-menu > li > a:focus {
    background-color: $white;
    text-decoration: none;
  }
  .dropdown-menu .divider{
    background-color: $neutral !important;
  }


  //CUSTOM SHARED HOMEPAGE/SPLASH

  @media (min-width: 1200px){
    .container.homepage-container {
      width: 1200px;
    }
  }

  .bl-searchbar-wrapper {
    border: 2px solid $lightgrey;
    border-radius: 5px;
    transition: .1s ease-in-out;
    margin: 20px 0px;
  }
  .bl-searchbar-wrapper:focus-within {
    outline: none;
    border: 0px solid transparent;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  }

  .bl-searchbar {
    background-color:transparent;
    border:0;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    color: $mediumgrey;
    font-size: 24px;
  }
  .bl-searchbar:focus {
    outline: none;
    border: 0px solid transparent;
  }

  input.bl-searchbar{
    width: 82%;
  }
  input.bl-searchbar::placeholder{
    color: $mediumgrey;
    font-size: 24px;
  }

  button.bl-searchbar{
    width: 15%
  }

  h4.pt-40.splash-page {
    font-size: 22px;
    line-height: 1.3;
  }
  @media only screen and (max-width: 992px) {
    h4.pt-40.splash-page{
      font-size: 20px;
    }
  }

  @media (max-width: 767px){
    .col-sm-6.col-xs-12.pt-20.homepage-right h2.pt-40{
      padding-top: 0px
    }
  }


  .homepage-left{
    padding-left: 0;
    padding-right: 60px;
  }
  .homepage-right{
    padding-left: 60px;
    padding-right: 0;
  }
  @media only screen and (max-width: 767px) {
    .homepage-left, .homepage-right{
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
    }
  }
  @media only screen and (max-width: 767px) {
    .homepage-left{
      padding-bottom: 40px;
    }
  }

  .tenant-logo{
    max-width: 130px;
    max-height: 100px;
    object-fit: contain;
    object-position: center center;
    margin-top: 50px;
    padding: 10px;
    //add these properties to make all logos greyscale
    // filter: grayscale(1);
    // -webkit-filter: grayscale(1);
  }

  // ALERTS & GENERAL

  .alert-success, .alert-warning {
    color: $darkgrey;
    background-color: $neutral;
    border-color: none;
    border: none;
  }

  span.glyphicon.glyphicon-remove {
    color: $mediumgrey;
  }

  //CROSS BROWSER

  //makes homepage columns even on safari
  .row.center-block.flex-center.works-row:before {
    display: none;
  }
  .row.pt-40.flex.wrap.collections-row.pb-40:before {
    display: none;
  }

// COLLECTIONS SHOW PAGE

.hyc-generic .hyc-bugs div {
  margin: 10px 0;
}

input#collection_search {
  height: 36px;
}

.hyc-description {
  padding: 0 15px;
}

.hyc-bl-results .table > thead > tr > th, .hyc-bl-results .table > thead > tr > td{
  font-size: 13px;
  text-transform: uppercase;
  color: $mediumgrey !important;
  letter-spacing: 1pt;
  padding-top:20px;
}

.hyc-bl-results .table > tbody > tr > th, .hyc-bl-results .table > tbody > tr > td, .hyc-bl-results .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding: 30px 10px;
}

.hyc-blacklight {
  padding: 0;
}

.gallery {
  margin-top: 80px;
}

div#documents {
  margin-top: 80px;
}

.masonry.document .caption a {
  color: $darkgrey !important;
  font-weight: 500;
  text-shadow: none;
}

.masonry.document .caption a:hover {
  color: $darkgrey !important;
}

.masonry.document .caption {
  background-color: rgba(230, 230, 230, 0.8);
}

//WORK SHOW PAGE

ul.tabular{
  font-weight: 300;
}

.metadata-group ul.tabular{
  margin-bottom: 0;

  li.attribute span a, li.attribute a{
    color: $rust !important;
  }
  li.attribute span a:hover, li.attribute a:hover{
    color: $mediumgrey !important;
  }
}

dl.work-show{
  font-weight: 600;
}

.breadcrumb {
  border: 0 solid transparent;
  border-radius: 7px;
  margin-top: 0;
  padding: 1em;
  background-color: $neutral;
}

.breadcrumb li + ::before {
  height: 5px;
  width: 5px;
  background-color: $rust;
  border-radius: 50%;
  display: inline-block;
  border-right: 0;
}

// these following 2 selectors extend the background color outside of the container
.work-show-section-contrast {
  position: relative;
}

.work-show-section-contrast:before {
    content:"";
    background-color:$neutral;
    position: absolute;
    height: 100%;
    width: 200vw;
    left: -100vw;
    z-index: -1;
    overflow-x: hidden;
}


//this styles the text of the abstract
.pt-40.pb-40.work-show-abstract h3 ul.tabular{
  padding: 0;
  li.attribute.attribute-abstract{
    font-weight: 300;
    font-size: 14px;
    padding-top: 40px;
    line-height: 1.4;
  }
}

//this selector changes the creator text under the header
div.creator-work-show-header {
  dt {
    display: none
  }
  dd ul.tabular{
    padding-left: 0;
    display: flex;

    li.attribute.creator{
      padding-right: 20px;
      color: $rust;
      font-size: 16px;

    }
  }
}

.year-published h5{
  font-weight: bold;
  letter-spacing: 1px;
  color: $mediumgrey2 !important;
}

li.attribute.creator, li.attribute.contributor {
  span a img.img-responsive{
    filter: grayscale(1);
  }
}

.work-show-buttons{
  justify-content: space-evenly
}

.social-media {
  filter: grayscale(1);
}

//this selector edits the citations and social media buttons in the abstract section
.citations, .social-media {
  padding: 15px 0;
  .btn-group button.btn.btn-default.dropdown-toggle{
    background-color: transparent;
    border: none;
    border-color: transparent;
    border-radius: 0;
    color: $darkgrey;
    font-size: 18px;
    border-bottom: 2px solid lightgrey;
    padding: 6px 30px;
  } 
  .btn-group button.btn.btn-default.dropdown-toggle:hover{
    color: $darkgrey !important;
    background-color: $neutral !important;
    border: none !important;
    border-color: transparent !important;
    border-bottom: 2px solid grey !important;
  }
  .btn-group button.btn.btn-default.dropdown-toggle:focus{
    outline: none;
  }
  .btn-group button.btn.btn-default.dropdown-toggle:active, .btn-group button.btn.btn-default.dropdown-toggle:target, .btn-group.open .dropdown-toggle{
    -webkit-box-shadow: none;
    box-shadow: none;
  }

}

  .dropdown-menu > li.social-links > a{
    padding: 0
  }

  .btn-group.open ul.dropdown-menu.social-link-menu{
    display:flex;
  }

  .table.related-files > thead > tr > th, .table.related-files > thead > tr > td, .table > tbody > tr > th, .table.related-files > tbody > tr > td, .table.related-files > tfoot > tr > th, .table.related-files > tfoot > tr > td {
    vertical-align: middle;
    border-top: none;
    text-align: center;
  }
  
  .table.related-files > thead > tr > th{
    font-family: "Noto Sans JP" !important;
    font-size: 13px;
    text-transform: uppercase;
    color: $mediumgrey !important;
    letter-spacing: 1pt;
  }

  td.thumbnail {
    margin: 10px;
    border-top: 1px solid $lightgrey2 !important;
  }

  table.table-striped.related-files{
    margin-top: 40px;
  }

  .work-show.metadata-block{
    .metadata-group{
      display: flex;
      padding: 10px
    }
    .metadata-group:nth-child(even){ 
      background-color: $neutral;
      border-radius: 5px;
    }
    .metadata-group:nth-child(odd){ 
      background-color: $white;
      border-radius: 5px;
    }
  }

  .metadata-group dt { 
    width: 30%; 
  }
  .metadata-group dd { 
    width: 70%; 
  }

  .work-show-abstract {
      .metadata-group dd {
        width: 100%;
    }
    .metadata-group dt {
      font-size: 28px;
      font-weight: 500;
  }
  }

  .work-show-items .col-sm-12 {
    overflow: scroll;
}

// SEARCH RESULTS

#sortAndPerPage{
  border-bottom: none;
  padding-bottom: 20px;
}

div#search-header:before, div.catalog-only.catalog-page-search:before{
  content:"";
  background-color:$neutral;
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
  overflow-x: hidden;
}

div#search-header:before {
  border-bottom: 2px solid $lightgrey;
}

div#search-header {
  margin-bottom: 40px;
}

@media (max-width: 991px){
  div#appliedParams {
    border-bottom: 2px solid $lightgrey;
  }
}

div#search-results ul.list-unstyled.catalog li:nth-child(even){
  background-color: $neutral;
  border-radius: 5px;

}
div#search-results ul.list-unstyled.catalog li:nth-child(odd){ 
  background-color: $white;
  border-radius: 5px;
}

.page_links {
  padding: 0;
}

.search-widgets {
    float: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    border: 2px solid $lightgrey;
    border-radius: 4px;
    padding: 20px;
    width: 60%;
    div#sort-dropdown.btn-group, div#per_page-dropdown.btn-group, div.view-type div.view-type-group.btn-group{
      button.btn.btn-default, button.btn.btn-default:hover, button.btn.btn-default:focus, button.btn.btn-default:active, a.btn.btn-default, a.btn.btn-default:hover, a.btn.btn-default:focus, a.btn.btn-default:active{
        border: none !important;
        background-color: transparent !important;
        outline: none !important;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      button.btn.btn-default:hover, button.btn.btn-default:focus{
        text-decoration: underline;
      }

      a.btn.btn-default:focus, a.btn.btn-default:hover{
        color: $mediumgrey !important;
      }
    }
}
@media (max-width: 767px){
  .search-widgets, .search-text{
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .search-widgets{
    margin-top: 40px;
  }
}

.constraints-container{
  padding-left: 0;
  padding-right: 0;
}

a.btn.btn-default.btn-sm.remove.dropdown-toggle, span.constraint-value.btn.btn-sm.btn-default.btn-disabled {
  border: 2px solid $lightgrey;
}

span.constraint-value.btn.btn-sm.btn-default.btn-disabled {
  border-right: 0
}

a#startOverLink {
  border: 2px solid $lightgrey;
  border-radius: 4px;
  background-color: $white;
}


.search-result-wrapper {
  border-bottom: none;
  margin-bottom: 0;
  padding: 40px;
}

.search-results-page-metadata table tbody tr td, .search-results-page-metadata table tbody tr th.search-meta-label{
  border-top: none;
  text-align: left;
}

h3.panel-title.facet-field-heading a, h2.facets-heading {
  font-size: 16px;
}

.creator-search-results{
  color: $rust;
  font-size: 16px;
}
.keywords-search-results{
  margin: 10px 0px;
}

.abstract-search-results {
  margin: 20px 0;
}

.year-published.text-center h5 {
  margin: 0;
  font-size: 20px;
}

@media (max-width: 767px){
  .year-published.text-center h5 {
    text-align: left
  }
}

h4.search-result-title{
  font-size: 18px;
}

div.top-panel-heading.panel-heading h2.facets-heading {
  display: none
  }

@media (max-width: 991px){
  div.top-panel-heading.panel-heading {
    h2.facets-heading {
      display: block;
      font-size: 18px;
      margin: 0;
    }
    button.facets-toggle, button.facets-toggle:focus-visible{
      margin: 0;
      padding: 0;
      border: none;
      margin-top: 3px;
      transition: .2s;
      outline: none;
    }
    button.facets-toggle:hover{
      transform: scale3d(1.1, 1.1, 1.1);
    }
  }

  #facets .top-panel-heading {
      border: 2px solid $lightgrey;
      margin-bottom: 0;
      border-radius: 4px;
  }
}

 .text-success, .facet-values li .selected {
 color: $rust;
}

}


body.splash.splash-index.public-facing {
  background-image: linear-gradient(90deg, $neutral 50%, $white 50%);
}

@media only screen and (max-width: 768px) {
  body.splash.splash-index.public-facing {
    background-image: linear-gradient(
      180deg
      , $neutral 30%, $white 70%);
  }
}

@media (max-width: 992px){
body.public-facing {
    margin-bottom: 160px;
  }
}