@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

$primary-font-family: "Lato", Helvetica, sans-serif;

$jumbotron-heading-font-size: 2.5em;
$jumbotron-heading-color: #30373b;
$jumbotron-sub-heading-color: #444;
$jumbotron-button-background-color: #7ab55c;

$features-section-background-color: #f4f4f4;
$features-section-border-color: #ddd;

$neutral: #F6F6F6;
$lightgrey2: #ddd;
$lightgrey: #E3E3E3;
$mediumgrey: #ACACAC;
$mediumgrey2: #7e7e7e;
$darkgrey: #575757;
$rust: #CC5200;
$mustard: #FAB533;
$white: #fff;