<%# OVERRIDE here to remove the globe glyphicon and make the logo link to the institution URL. hyrax 2.9.1 %>
<% if logo_image %>
  <%= link_to "#{institution_url}", id: 'logo', alt: "Visit the #{application_name} home page", data: {"turbolinks "=> false} do %>
    <%# OVERRIDE here to remove the globe glyphicon hyrax 2.9.1 %>
    <%= image_tag logo_image %>
  <% end %>
<% else %>
  <%= link_to "#{institution_url}", id: 'logo',  alt: "Visit the #{application_name} home page", data: {"turbolinks "=> false} do %>
    <span class="institution_name"><%= application_name %></span>
  <% end %>
<% end %>
