<dt>Current HE Institution</dt>
<dd>
  <ul class="tabular">
    <% array_of_hash.each do |hash| %>
      <li class="attribute current_he_institution name">
        <% if hash['current_he_institution_name'].present? %>
          <%= "#{hash['current_he_institution_name']}" %>&nbsp;
        <% end %>
      </li>
    <% end %>
  </ul>
</dd>
