<div>
  <%# In Hyrax 2.9.6 `universal_viewer` is aliased to `iiif_viewer` %>
  <% if presenter.iiif_viewer? %>
    <%= link_to 'View files in viewer',
                "#{universal_viewer_base_url}?manifestUri=#{main_app.polymorphic_url [main_app, :manifest, presenter], { locale: nil }}&config=#{universal_viewer_config_url}",
                class: 'btn btn-default iiif_viewer',
                target: :_blank
    %>
  <% end %>
</div>
